{% extends "base.html" %}

{% block style %}
<style type = 'text/css'>
.main-title{
	text-align: center;
}
#search-input{
	width:300px;
}
.centered-table{
	text-align:center;
}
.centered-table thead th{
	text-align:center;
}
.active-event{
	color:#55ACEE;
}
.event-clickable:hover{
	cursor:pointer;
}
.attendance-cell{
	text-align:center;
}
.attendance-cell:hover{
	cursor:pointer;
}
.confirmed-cell{
  background-color: #99CC00;
  opacity: 0.75;
}
.unconfirmed-cell{
	background-color: #CC0000;
  	opacity: 0.25;
}
.hidden{
	display:none;
}
#attendance-table{
	margin-top:5px;
}
</style>
{% endblock style %}

{% block script %}
<script type = 'text/javascript'>
my_role = '{{current_member.role}}';
attendance_map = {};
{% for eid in event_dict.keys() %}
attendance_map[{{eid}}] = {{event_dict[eid].attendance}};
{% endfor %}

member_dict = {};
{% for mid in member_dict.keys() %}
member_dict[{{mid}}] = '{{member_dict[mid].name}}';
{% endfor %}

function ajaxUpdateCell(i, j, value, cell_object, cell_type){
	$.ajax({
      url:'/attendance_update',
      type: "POST",
      data: {"i": i, "j":j, 'value': value},
      success:function(data){
      	$(cell_object).text("");
      	if(value ==0){
      		$(cell_object).removeClass(cell_type);
      		
      	}
      	else{
      		$(cell_object).addClass(cell_type);
      	}
      },
      complete:function(){
      	
      },
      error:function (xhr, textStatus, thrownError){
        alert('failed');
      }
  });
}
activeEvent = null;
$(document).ready(function(){
	$("#event-search").keyup(function(){
		$('.hidden:not(.attendance-row)').each(function(){
			$(this).removeClass('hidden');
		});
		search_value = $(this).val().toLowerCase();
		console.log(search_value);
		hidden_eids = [];
		$('.table-th').each(function(){
			console.log($(this).text());
			if($(this).text().toLowerCase().indexOf(search_value) == -1){
				$(this).addClass('hidden');
				eid = $(this).attr('id');
				hidden_eids.push(eid);
			}

		});
		$('.attendance-cell').each(function(){
			id = $(this).attr('id');
			eid = id.split(',')[1];
			if(hidden_eids.indexOf(eid) != -1){
				$(this).addClass('hidden');
			}
		});
	});

	$('#committee-dropdown').change(function(){
		$('.attendance-row').each(function(){
				$(this).removeClass('hidden');
		});
		selected_committee = $(this).val();
		if(selected_committee != 0){
			$('.attendance-row').each(function(){
				if(!$(this).hasClass(selected_committee)){
					$(this).addClass('hidden');
				}
			})
		}
	});

	$('.attendance-cell').click(function(){
		cell_id = $(this).attr('id');
		i = cell_id.split(',')[0];
		j = cell_id.split(',')[1]
		cell_type = 'bogus';
		cell_value = 0;
		if(my_role == 'cm'){
			cell_type = 'unconfirmed-cell';
			cell_value = 1;
		}
		if(my_role == 'officer'){
			cell_type = 'confirmed-cell';
			cell_value = 2;
		}

		if(! $(this).hasClass(cell_type)){
			// var changeClass = function(){
			// 	alert('changing class');
			// 	$(this).addClass(cell_type);
			// };
			//set cell value to cell type
			ajaxUpdateCell(i, j, cell_value, $(this), cell_type);
			$(this).text('pending');
		}
		else{
			// var changeClass = function(){
			// 	$(this).removeClass(cell_type);
			// };
			
			// set cell value to 0
			ajaxUpdateCell(i,j,0, $(this), cell_type);
			$(this).text('pending');
		}
	});
	$('#save-changes').click(function(){

	});
});
</script>
{% endblock script %}



{% block content %}

<h1 class = 'main-title'>Attendance</h1>
<div class = 'row'>
	<div class = 'col-md-6'>
		<table>
			<tr>
				<td>
					<input id = 'event-search' type = 'text' class ='form-control' placeholder = 'Search Events' style = 'width:250px'></input>
				</td>
				<td>
					<select id = 'committee-dropdown' class = 'form-control'>
						  <option value="0">All CMs</option>
						  <option value="1">Community Service</option>
						  <option value="2">Consulting</option>
						  <option value="3">Finance</option>
						  <option value="4">Historian</option>
						  <option value="5">Marketing</option>
						  <option value="6">Professional Development</option>
						  <option value="7">Publications</option>
						  <option value="8">Social</option>
						  <option value="9">Web Development</option>
						  <option value="10">Internal Networking</option>
						  <option value="11">Executive</option>
					</select>
					<!-- end of dropdown -->
				</td>
			</tr>
			<tr>
				<td><button id = 'save-changes' style = 'margin-top:5px' class = 'btn btn-default'>Save Changes</button></td>
			</tr>
		</table>
	</div>
	<!-- END OF COLUMN -->

</div>
<!-- END OF ROW -->
<div class = 'row'>

	<div class = 'col-md-10'>
	<table id = 'attendance-table' class = 'table table-striped table-hover table-bordered'>
		<thead>
			<th>Name</th>
			{% for eid in event_dict.keys() %}
			<th class = 'table-th' id = '{{eid}}'>{{event_dict[eid].name}}</th>
			{% endfor %}
		</thead>

		<tbody>
			{% for mid in member_dict.keys() %}
			<tr class = 'attendance-row {{member_dict[mid].cid}}'>
				<td>{{member_dict[mid].name}}</td>
				{% for eid in event_dict.keys() %}
				<td class = 'attendance-cell {% if attendance_matrix[mid][eid] == 2 %}confirmed-cell{% elif attendance_matrix[mid][eid]==1 %}unconfirmed-cell{% endif %}' id = '{{mid}},{{eid}}'></td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>


</div>
<!-- end or row -->
{% endblock content %}