<!DOCTYPE html>
<head>
    <title>PBL Members Portal</title>
  <script type='text/javascript' src="{{
  url_for('static', filename='jquery.min.js') }}"></script>
    <!--  <link rel="stylesheet" href="{{
      url_for('static', filename='bootstrap.min.css') }}"> -->
    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

<link href = 'http://bootswatch.com/paper/bootstrap.min.css' rel = 'stylesheet'>
<!-- bootcards desktop -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.2/css/bootcards-desktop.css" rel="stylesheet" type="text/css">

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>

<!-- add favicon -->
<link rel="icon" href="{{
  url_for('static', filename='favicon.ico') }}" type="image/x-icon" />

    <style>
    #title-div{
        text-align:center;
    }
    #content-div{
        padding-left:15px;
        padding-right:15px;
    }
    #navigation-bar{
      margin-top:0px;
    }
    body{
        background-color:white;
    }
/*    #left-main-title{
      color:white;
    }*/
/*    #main-nav-header .navbar-brand{
        font-weight:normal;
    }*/
    </style>
    {% block style %}{% endblock style %}
    {% block script %}{% endblock script %}


</head>






<body body class="has-bootcards-navbar-double">

 <div id = 'navigation-bar' class="navbar navbar-default navbar-fixed-top bootcards-navbar-double" role="navigation">
  <div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <a id = 'left-main-title' class="navbar-brand" title="Bootcards Starter" href="/"><span class = 'glyphicon glyphicon-home'></span> [PBL] Members Portal</a>  

  <!--navbar menu options: shown on desktop only -->
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right bootcards-nav-secondary">
      <li class="dropdown">
        <!-- <a href="#" class="dropdown-toggle navbar-link" data-toggle="dropdown" role="button" aria-expanded="false">
          <i class="fa fa-globe"></i>
          Languages <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Deutsch</a></li>
          <li><a href="#"><i class="fa fa-fw fa-check pull-right"></i>English</a></li>
          <li><a href="#">Espanol</a></li>
        </ul>
      </li>  -->
      <li><a href = '/handbook'>Handbook</a></li>
      {% if user_email %}
      <li><a href = '/logout'>Logout</a></li>
      <li><a href = '/me'>Welcome {{user_email}}</a></li>
      {% else %}
      <li><a href = '/login'>Login</a></li>
      {% endif %}
  
    </ul>
    <ul class="nav navbar-nav navbar-right bootcards-nav-primary">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <span class="glyphicon glyphicon-pencil">
          Officer Tools <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/tabling"><i class="fa fa-fw fa-envelope-o"></i> Tabling</a></li>
          <li><a href="/tabling_setup"><i class="fa fa-fw fa-film"></i> Setup Tabling</a></li>
          <li><a href="/view_committments"><i class="fa fa-fw fa-file-o"></i>Change Committments</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="fa fa-fw fa-bar-chart-o"></i>Deliberations</a></li>
        </ul>
      </li>
      
      <li>
       <a href="/attendance"><span class="glyphicon glyphicon-list-alt"></span> Attendance</a>
      </li>
       <li>
        <a href="/view_committments"><span class="glyphicon glyphicon-calendar"></span> Scheduler</a>
      </li>
      <li>
        <a href="/scheduler_login"><i class="fa fa-fw fa-briefcase"></i>Scheduler Login</a>
      </li>
      <!-- <li>
        <a href="/tabling"><i class="fa fa-fw fa-briefcase"></i>Tabling</a>
      </li> -->
      
    </ul>
  </div>
</div><!--container-fluid-->
</div>  <!--navbar--> 

    <div id = 'content-div'>
    {% block content %}
    {% endblock content %}
    </div>

<div class = 'navbar navbar-default navbar-fixed-bottom'>
<div class = 'bootcards-desktop-footer clearfix'>
<p>Created by Spring 2015 Web Development: David Liu, Eric Quach, Kevin Zhang
</p>
</div>
</div>

</body>