{% extends 'base.html' %}

{% block content %}
<h1>Calendar</h1>

<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=8bo2rpf4joem2kq9q2n940p1ss%40group.calendar.google.com&amp;color=%23B1365F&amp;src=i0sikrmv9nnb49cvog45dh8pjg%40group.calendar.google.com&amp;color=%23853104&amp;src=s9na2ki4qpjg5n54jej0mo7j1k%40group.calendar.google.com&amp;color=%236B3304&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="1000" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock content %}