{% extends "base.html" %}


{% block style %}
<style type = 'text/css'>
.tabling-day-list{
	float:left;
	margin: 15px;
	list-style-type: none;
}
.member-list{
	list-style-type: none;
}
.slot-header{
	color:#55acee;
}
</style>
{% endblock style %}


{% block content %}

<title>Berkeley PBL Spring 2015</title>
	</head>
	<body>

	<center>
		<h1>Berkeley PBL Members Portal<br>Spring 2015</h1>
	</center>
  	

<div class = 'container'>

</div>

	<!-- <h2>Announcements (Week 13)</h2>
	<ul>
		<li>PD Apprentice Challenge: Mock interview, cover letter, and resume! <a href="http://www.cs.berkeley.edu/~vazirani/"> Sign Up Here</a></li>
		<li>WD Elevator Apprentice Challenge: April 17th. <a href = 'http://portal.berkeley-pbl.com:5130'> Start Solving Here</a></li>
		<li>Thanks for coming out to PBL's <b>10th Anniversary</b></li>
		<li>Tabling Schedule Updated!</li>
        <li><a href = '#'>Click Here to view past announcements</a></li>
	</ul> -->

 <div class = 'row'>



<div class = 'col-md-4'>

	<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Announcements</h3>
      <a class="btn btn-default pull-right" href="#">
        <i class="fa fa-pencil"></i>
        See Past Announcements
      </a>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <p class="list-group-item-text">PD Apprentice Challenge: Mock interview, cover letter, and resume! <a href="http://www.cs.berkeley.edu/~vazirani/"> Sign Up Here</a></p>
      </div>
      <div class="list-group-item">
        <p class="list-group-item-text">WD Elevator Apprentice Challenge: April 17th. <a href = 'http://blog.berkeley-pbl.com:5130'> Start Solving Here</a></p>
      </div>
      <div class="list-group-item">
        <p class="list-group-item-text">CS Springland 4.13.2015 at 4pm. Meet at Sproul Hall</p>
      </div>
      <div class="list-group-item">
        <p class="list-group-item-text">Thanks for coming out to PBL's <b>10th Anniversary</b></p>
      </div>
    </div>
  <div class="panel-footer">
    <small>Last updated 5.13.15 by Nathalie Nguyen</small>
  </div>
  <!-- end of base card -->
</div>


	
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Events</h3>
      <a class="btn btn-default pull-right" href="#">
        <i class="fa fa-pencil"></i>
        See Calendar
      </a>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <p class="list-group-item-text">Banquet 5.11.15 (Clark Kerr at 7pm)</p>
      </div>
      <div class="list-group-item">
        <p class="list-group-item-text">CM Welcome Night 11.23.15 (Haas Andersen Auditorium at 7pm)</p>
      </div>
      <div class="list-group-item">
        <p class="list-group-item-text">CS Springland 4.13.2015 (Sproul at 8am)</p>
      </div>
      <div class="list-group-item">
        <p class="list-group-item-text">Historian Movie Premiere 5.13.15 (Haas Cheit 210 at 7pm)</p>
      </div>
    </div>
  <div class="panel-footer">
    <small>Last updated 5.13.15 by Nathalie Nguyen</small>
  </div>
  <!-- end of base card -->
</div>
	



<!-- end of col md 4 -->
</div>

<div class = 'col-md-8'>

<div class="panel panel-default">
	  <div class="panel-heading clearfix">
	    <h3 class="panel-title pull-left">Tabling Schedule</h3>
	      <a class="btn btn-default pull-right" href="#">
	        <i class="fa fa-check"></i>
	        Edit Tabling
	      </a>
	  </div>
	  <div class="panel-body">
	    {% if not tabling_slots %}
<p>Tabling has not been generated for this week yet</p>
{% else %}

		{% for day in tabling_slots.keys() %}
		<ul class = 'list-group tabling-day-list'>
			{% for slot in tabling_slots[day] %}
			<li class = 'tabling-slot'>
				<h4 class = 'slot-header'>{{slot}}</h4>
				<ul class = 'member-list list-group'>
					{% for member in slot.members %}
					<li>{{member.name}}</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}


		</ul>
		{% endfor %}

{% endif %}
	  </div>
	  <div class="panel-footer">
	    <small>Last updated 5.13.15 at 8:45pm</small>
	  </div>
	  <!-- end of tabling card -->
	</div>

<!-- end of 8 col -->
</div>
  

  
<!-- end of row -->
</div>

<div class = 'row'>
<h2 class = 'title-center' style = 'text-align:center'>Berkeley PBL Fall 2015 Policies and Expectations</h2>


</div>

{% endblock  content %}