{% extends 'base.html' %}
{% block script %}
<script type = 'text/javascript'>
tabling_days = []
{% for tday in tabling_days %}
tabling_days.push('{{tday}}');
{% endfor %}
$(document).ready(function(){
	$("#generate-btn").click(function(){
		href = '/tabling_generate'
		href += '?members=all'
		for(var i=0;i<tabling_days.length;i++){
			addon = '&'+tabling_days[i] +'='+ $('#'+tabling_days[i]).val()
			href += addon
		}
		window.location = href
	});

});
</script>
{% endblock script %}
{% block content %}
<style type = 'text/css'>
.tabling-day-input{
	width:300px;
}
.day-cell{
	width:100px;
}
#generate-btn{
	margin-top:15px;
	width:150px;
}
</style>
<h1>Setup Tabling</h1>

<div class = 'row'>
	<div class = 'col-md-8'>
		{% for tday in tabling_days %}
		<div class = 'tabling-day'>
			<table>
				<tr>
					<td class = 'day-cell'>{{tday}}</td>
					<td><input id = {{tday}} type = 'text' class = 'form-control tabling-day-input' value = '10-2' placeholder = 'Enter Timeslots'></input></td>
				</tr>
			</table>
		</div>
		{% endfor %}
		<button class = 'form-control' id = 'generate-btn'>Generate</button>
	</div>
</div>
{% endblock content %}