{% extends 'base.html' %}

{% block style %}
<style type = 'text/css'>
.tabling-day-list{
	float:left;
	margin: 15px;
	list-style-type: none;
}
.member-list{
	list-style-type: none;
}

</style>
{% endblock style %}


{% block content %}
<h1>Tabling Schedule</h1>

{% if not tabling_slots %}
<h2>Tabling has not been generated for this week yet</h2>
{% else %}

		{% for day in tabling_slots.keys() %}
		<ul class = 'list-group tabling-day-list'>
			{% for slot in tabling_slots[day] %}
			<li class = 'tabling-slot'>
				<div class = 'slot-header label label-info'>{{slot}}</div>
				<ul class = 'member-list list-group'>
					{% for member in slot.members %}
					<li>{{member.name}}</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}


		</ul>
		{% endfor %}

{% endif %}
{% endblock content %}